# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
zappa_settings.json
dist-ssr
*.local
env
venv
.venv
.env
mediafiles
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode
.continue
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
